<!DOCTYPE html>
<html>
    <body>
  <div id="app" >
    <v-app >
      <v-main  style="overflow:auto">
        <v-sheet id="scrolling" class="overflow-y-auto">
            <v-img src="{{ server }}/dao/script/assets/homag-logo.svg" max-height="50" contain class="ma-2"></v-img>
        </v-sheet>
        <h1 class="text-center">{{header}}</h1>
        <!--
		<div id="chartdiv" class="ma-2 ma-md-5">
            <apexchart ref="chart" type="rangeBar" height="450" :options="chartOptions" :series="series"></apexchart>
        </div>
        <div id="chartdiv" class="ma-2 ma-md-5">
            <apexchart ref="chart" type="rangeBar" height="450" :options="chartOptions" :series="series"></apexchart>
        </div>-->
<!--  #####################################################-->		

	<v-text-field v-model="search" label="Kundenauftrag" @input="filterlist" ></v-text-field>	
    <v-divider></v-divider>

  <v-list dense color="#EEEEEE">
    <v-subheader>
      Importierte Aufträge
    </v-subheader>
    <v-list-item>
      <v-container fluid>
        <v-row>
          <v-col cols="2">
            <strong>Kundenauftrag</strong>
          </v-col>
          <v-col cols="2	">
            <strong>Importiert</strong>
          </v-col>
        </v-row>
      </v-container>
    </v-list-item>
    <v-list-item dense v-for="item in filterlist()" :key="item.Sequence">
      <v-container fluid>
        <v-row>
          <v-col cols="2" class="py-0">
            {{ item.CustomerOrderCode }}
          </v-col>
          <v-col cols="2" style="color: #AA1111;" class="py-0" >
            {{ item.CreationDate }}
          </v-col>
        </v-row>
      </v-container>
    </v-list-item>
  </v-list>
  <v-list dense color="#EEEEEE">
    <v-subheader>
      Importierte Aufträge
    </v-subheader>
    <v-list-item>
      <v-container fluid>
        <v-row>
          <v-col cols="2">
            <strong>Kundenauftrag</strong>
          </v-col>
          <v-col cols="2	">
            <strong>Importiert</strong>
          </v-col>
        </v-row>
      </v-container>
    </v-list-item>
    <v-list-item dense v-for="item in filterlist()" :key="item.Sequence">
      <v-container fluid>
        <v-row>
          <v-col cols="2" class="py-0">
            {{ item.CustomerOrderCode }}
          </v-col>
          <v-col cols="2" style="color: #AA1111;" class="py-0" >
            {{ item.CreationDate }}
          </v-col>
        </v-row>
      </v-container>
    </v-list-item>
  </v-list>

<!--	
        <v-content>
            <v-text-field v-model="search" label="Search" @input="filterlist"></v-text-field>
          <v-container>
            <v-list>
              <v-list-item dense v-for="item in filterlist.slice(0, 5)" :key="item.CustomerOrderCode">
                <v-list-item-content>
                  <v-list-item-title >{{ item.CustomerOrderCode }}</v-list-item-title>
                  <v-list-item-title >{{ item.CreationDate }}</v-list-item-title>	
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-container>
        </v-content>	
	-->	




      </v-main>
    </v-app>
  </div>

   <script>
     window.vm = new Vue({
      el: "#app",
    components: {
        },
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: "#001941",
              secondary: "#00A0DC",
              accent: "#00A0DC",
            },
          },
        },
      }),
      created() {
          this.getImportedCustomerOrders();
          // ToDo: INstallieren von EventHandlern test
      },
      mounted() {
      },
      destroyed(){
          // Aufräumen: z.B. EventHandler entfernen, Timer löschen ect.
      },
			
	  
      data: {
			countCustomOrders: 0,
		   search: '',
		   
		   CustomerOrderImportedItems: [],
			  
          header: "Auftragsimport Übersicht",
          date: new Date().toISOString().substr(0, 10)
      },

	  computed: {
	  },

      methods: {
		filterlist: function() {
			console.log('Search text:', this.search.toLowerCase());
			console.log(this.CustomerOrderImportedItems.length);
			//console.log(this.CustomerOrderImportedItems.filter(item => item.CustomerOrderCode.toLowerCase().includes(this.search.toLowerCase())));
			if(this.CustomerOrderImportedItems.filter(item => item.CustomerOrderCode.toLowerCase().includes(this.search.toLowerCase())).length > 5)
			{
				return this.CustomerOrderImportedItems.filter(item => item.CustomerOrderCode.toLowerCase().includes(this.search.toLowerCase())).slice(0,5);
			}
			else
			{
				return this.CustomerOrderImportedItems.filter(item => item.CustomerOrderCode.toLowerCase().includes(this.search.toLowerCase()));			
			}
		},
	  
          getImportedCustomerOrders: function() {
            var d = new Date();
            d.setHours(d.getHours() - 168);
            window.cmesOdata
                .get("CustomerOrders")
                .query({
                    $filter: `CreationDate gt ${d.toISOString()} `,
                    $orderBy: "Creationdate desc",
                    $select: "Sequence, Code, CreationDate",
				
                })
                .then((data) => {
					if (data === null || data.length === 0) 
					{
						console.log('CustomerOrder nicht gefunden.')
					}
					else
					{
						
						console.log(JSON.stringify(data));
						if(Array.isArray(data))
						{

							data.forEach((element) => {
								if(element === undefined)
								{
								//
								}
								else
								{
									if(element.Code === undefined)
									{
									//
									}
									else
									{
										let valueCO = [];		
										this.countCustomOrders++;
										console.log('countCustomOrders: ' + this.countCustomOrders + ' ### ' + element.Code);
										valueCO.Sequence = element.Sequence;
										valueCO.CustomerOrderCode = element.Code;
										valueCO.CreationDate = window.DateTime.fromISO(element.CreationDate).setLocale('de').toLocaleString({weekday: 'short', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'});
										this.CustomerOrderImportedItems.push(valueCO);
									}
								}
							})
						}    
					}		
                })
                .catch((err) => console.log(err));

        },


      },
    });
  </script>
  <style>
  </style>
</body>
</html>
