<!DOCTYPE html>
<html>
    <body>
  <div id="app" >
    <v-app >
      <v-main  style="overflow:auto">
        <v-sheet id="scrolling" class="overflow-y-auto">
            <v-img src="{{ server }}/dao/script/assets/homag-logo.svg" max-height="50" contain class="ma-2"></v-img>
        </v-sheet>
        <h1 class="text-center">{{header}}</h1>
        <!--
		<div id="chartdiv" class="ma-2 ma-md-5">
            <apexchart ref="chart" type="rangeBar" height="450" :options="chartOptions" :series="series"></apexchart>
        </div>
        <div id="chartdiv" class="ma-2 ma-md-5">
            <apexchart ref="chart" type="rangeBar" height="450" :options="chartOptions" :series="series"></apexchart>
        </div>-->
<!--  #####################################################-->		

  <v-list dense color="#EEEEEE">
    <v-subheader>
      Importierte Aufträge
    </v-subheader>
    <v-text-field v-model="search" label="Search" @input="filterList"></v-text-field>	
    <v-list-item>
      <v-container fluid>
        <v-row>
          <v-col cols="2">
            <strong>Kundenauftrag</strong>
          </v-col>
          <v-col cols="2	">
            <strong>Importiert</strong>
          </v-col>
        </v-row>
      </v-container>
    </v-list-item>
    <v-divider></v-divider>
    <v-list-item dense v-for="item in filteredList.slice(0, 5)" :key="item.CustomerOrderCode">
      <v-container fluid>
        <v-row>
          <v-col cols="2" class="py-0">
            {{ item.CustomerOrderCode }}
          </v-col>
          <v-col cols="2" style="color: #AA1111;" class="py-0" >
            {{ item.CreationDate }}
          </v-col>
        </v-row>
      </v-container>
    </v-list-item>

  </v-list>

		
<!--  #####################################################
        <v-content>
          <v-container>
            <v-text-field v-model="search" label="Search" @input="filterList"></v-text-field>
            <v-list>
              <v-list-item dense v-for="item in filteredList.slice(0, 5)" :key="item.CustomerOrderCode">
                <v-list-item-content>
                  <v-list-item-title >{{ item.CustomerOrderCode }}</v-list-item-title>
                  <v-list-item-title >{{ item.CreationDate }}</v-list-item-title>	
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-container>
        </v-content>
  #####################################################-->		
      </v-main>
    </v-app>
  </div>

   <script>
     window.vm = new Vue({
      el: "#app",
    components: {
        },
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: "#001941",
              secondary: "#00A0DC",
              accent: "#00A0DC",
            },
          },
        },
      }),
      created() {
          this.getImportedCustomerOrders();
          //this.getJobHistoryData();		  
          // ToDo: INstallieren von EventHandlern test
      },
      mounted() {
      },
      destroyed(){
          // Aufräumen: z.B. EventHandler entfernen, Timer löschen ect.
      },
			
	  
      data: {
  
		   search: '',
			CustomerOrderImportedItems: [],
			  
          header: "Auftragsimport Übersicht",
          date: new Date().toISOString().substr(0, 10),
          series: [
            {
              name: 'Succeeded',
              data: [
                
                {
                  x: 'FLS Demo Data Import',
                  y: [
                    new Date('2021-04-13T19:47:37.7634153+02:00').getTime(),
                    new Date('2021-04-13T19:49:28.7187259+02:00').getTime()
                  ]
                },
                {
                  x: 'GeneratePlanning',
                  y: [
                    new Date('2021-04-13T19:47:31.6155631+02:00').getTime(),
                    new Date('2021-04-13T19:48:15.2600616+02:00').getTime()
                  ]
                },
              ]
            },
            {
              name: 'Error',
              data: [
                {
                  x: 'FLS Demo Data Import',
                  y: [
                    new Date('2021-04-13T19:47:35.86051+02:00').getTime(),
                    new Date('2021-04-13T19:47:36.2345166+02:00').getTime()
                  ]
                }
              ]
            }
            ],
          chartOptions: {
            chart: {
                toolbar: {
                    tools: {
                        customIcons:[
                            {
icon: '<img src="/static/icons/chart-carpet.png" width="20">',
index: 0,
title: 'tooltip of the icon',
class: 'custom-icon',
click: function (chart, options, e) {
  console.log("clicked custom-icon")
}
}
                        ]
                    }
                },
              height: 450,
              type: 'rangeBar',
              animations:{
                  enabled: false
              }

            },
            plotOptions: {
              bar: {
                horizontal: true,
                barHeight: '80%'
              }
            },
            xaxis: {
              type: 'datetime'
            },
            stroke: {
              width: 1
            },
            fill: {
              type: 'solid',
              opacity: 0.6
            },
            legend: {
              position: 'top',
              horizontalAlign: 'left'
            },
            colors: [
              "#00E396", "#FF0000", "#FEB019", "#FF4560", "#775DD0"
            ],
            tooltip: {
                custom: function(opts) {
                var options = { timeZone: 'UTC' };    
                const from = new Date(opts.y1).toLocaleTimeString('de-DE', options)
                const to = new Date(opts.y2).toLocaleTimeString('de-DE', options)
                const values = opts.ctx.rangeBar.getTooltipValues(opts)
            
                return (
                  `${from} - ${to}`
                )
              }
            }

          },
      },

	  computed: {
		filteredList() {
		  return this.CustomerOrderImportedItems.filter(item => item.CustomerOrderCode.toLowerCase().includes(this.search.toLowerCase()));
		}
	  },

      methods: {
			filterList() {
			  // Implement any custom filtering logic here
			},	  
          getImportedCustomerOrders: function() {
            var d = new Date();
            d.setHours(d.getHours() - 168);
            window.cmesOdata
                .get("CustomerOrders")
                .query({
                    $filter: `CreationDate gt ${d.toISOString()} `,
                    $orderBy: "Creationdate",
                    $select: "Code, CreationDate",
				
                })
                .then((data) => {
					if (data === null || data.length === 0) 
					{
						console.log('CustomerOrder nicht gefunden.')
					}
					else
					{
						console.log(JSON.stringify(data));
						if(Array.isArray(data))
						{
							console.log("Array!!!!");
							data.forEach((element) => {
								let valueCO = [];		
								console.log("CustomerOrderImportedItems.Code:" + element.Code);
								valueCO.CustomerOrderCode = element.Code;
								valueCO.CreationDate = window.DateTime.fromISO(element.CreationDate).setLocale('de').toLocaleString({weekday: 'short', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'});
								this.CustomerOrderImportedItems.push(valueCO);
							})
						}    
					}		
                })
                .catch((err) => console.log(err));

        },


      },
    });
  </script>
  <style>
  </style>
</body>
</html>
